
<!--
<table>
    <tr class="row1">
        <th>Sensor</th>
        <th>Datum</th>
        <th>Temperatur</th>
        <th>Luftfeuchtigkeit</th>
        <th>Standort</th>
        <th>Position</th>
      </tr>
    <tr *ngFor="let item of storeService.sensorenDaten">
        <td>{{item.sensor.name}}</td>
        <td>{{item.date | date:'longDate'}}</td>
        <td>{{item.temperature}}</td>
        <td>{{item.humidity}}</td>
        <td>{{item.sensor.location}}</td>
        <td>{{SensorPosition[item.sensor.position]}}</td>
        <button class="button" mat-mini-fab (click)="deleteSensordata(item.id)">x</button>
    </tr>
</table>
-->


<!-- https://www.youtube.com/watch?v=ao-nY-9biWs -->
<app-data-table></app-data-table>

<!-- https://www.youtube.com/watch?v=7sJfNr8OL-c&list=PLVz2XdJiJQxwAhzEZSpDqXlfT7XvNPDIE&index=24 -->
<!-- https://www.youtube.com/watch?v=Pk8twkT6esM&list=PLVz2XdJiJQxwAhzEZSpDqXlfT7XvNPDIE&index=25&t=3s -->


<!-- https://stackblitz.com/edit/angular-hvcf5z-akdygp?file=src%2Fmain.ts -->

<!-- https://www.youtube.com/watch?v=Iqup2AekOYE -->


<!--

<table mat-table [dataSource]="storeService.sensorenDaten" class="row">
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Sensor</th>
        <td mat-cell *matCellDef="let item"> {{item.sensor.name}} </td>
    </ng-container>
</table>
-->