<div class="mat-elevation-z8 data-table">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort  
  matSortDirection="asc" aria-label="Elements" #empTbSort="matSort">
  <mat-paginator #paginator [pageSizeOptions]="[5,10,20]">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- Sensor Column -->
    <ng-container matColumnDef="sensor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sensor</th>
      <td mat-cell *matCellDef="let row">{{row.sensor.name}}</td>
    </ng-container>

    <!-- Temperature Column -->
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Temperatur</th>
      <td mat-cell *matCellDef="let row">{{row.temperature}}</td>
    </ng-container>

    <!-- humidity Column -->
    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Luftfeuchtigkeit</th>
      <td mat-cell *matCellDef="let row">{{row.humidity}}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-paginator>
  </table>

  <mat-paginator #paginator
    #paginatorPageSize
    [pageSizeOptions]="pageSizes"
    showFirstLastButtons>
  </mat-paginator>
</div>
