<!-- div == unser Container-->
<div class="mat-elevation-z8 sensor-data-form">
  <form [formGroup]="sensorenDataForm" (ngSubmit)="onSubmit()">
    <!-- Select Sensor -->
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select formControlName="sensorId">
        <mat-option *ngFor="let item of storeService.sensoren" [value]="item.id">{{item?.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="sensorenDataForm.get('sensorId').hasError('required')">
        SensorId wird benötigt!
      </mat-error>
    </mat-form-field>

    <!-- Select Date -->
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Datum" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="sensorenDataForm.get('date').hasError('required')">
        Datum wird benötigt!
      </mat-error>  
    </mat-form-field>
    
    <!-- Select Temperatur -->
    <mat-form-field appearance="fill">
      <mat-label>Temperatur</mat-label>
      <input matInput placeholder="Temperatur" type="number" formControlName="temperature">
      <mat-error *ngIf="sensorenDataForm.get('temperature').hasError('required')">
        Temperatur wird benötigt!
      </mat-error>
      <mat-error *ngIf="sensorenDataForm.get('temperature').hasError('min')">
        Temperatur zu tief!
      </mat-error>
      <mat-error *ngIf="sensorenDataForm.get('temperature').hasError('max')">
        Temperatur zu hoch!
      </mat-error>
    </mat-form-field>

    <!-- Select Luftfeuchtigkeit -->
    <mat-form-field appearance="fill">
      <mat-label>Luftfeuchtigkeit</mat-label>
      <input matInput placeholder="Luftfeuchtigkeit" type="number" formControlName="humidity">
      <mat-error *ngIf="sensorenDataForm.get('humidity').hasError('required')">
        Luftfeuchtigkeit wird benötigt!
      </mat-error>
      <mat-error *ngIf="sensorenDataForm.get('humidity').hasError('min')">
        Luftfeuchtigkeit zu tief!
      </mat-error>
      <mat-error *ngIf="sensorenDataForm.get('humidity').hasError('max')">
        Luftfeuchtigkeit zu hoch!
      </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit" color="white">
      Erfassen
    </button>
  </form>
</div>
